@font-face {
  font-family: "Lora";
  src: url("fonts/Lora-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.card-header {
  font-family: "Lora", serif;
  background-color: #fff !important;
  border-bottom: none;
}

.plant-card.card {
  background-color: #fff;
}

.multi-colored-circle {
  width: 16px;
  height: 16px;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

body {
  width: 100vw;
  height: 100vh;
}
