@font-face {
  font-family: "Lora";
  src: url("fonts/Lora-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #2c402f;
}

.bh-logo.mr-4.img-fluid {
  width: 200px;
}

.house-icon.mr-4.mb-3.mb-sm-0.mr-sm-3.img-fluid {
  width: 60px;
}

.hero {
  display: flex;
  justify-content: center;
  background-image: url("images/holding-plants.jpg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  opacity: 100%;
}

.header-one {
  justify-content: center;
  text-align: center;
}

.header-one h1 {
  font-family: "Lora";
  color: #fff;
}

.care {
  display: flex;
}

.splide__slide > img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.splide__track {
  display: flex;
  gap: 0 !important;
}

.splide__slide {
  margin-right: 0 !important;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.animation {
  display: flex;
  flex-direction: column;
  order: 1;
}

.plant-tray,
.home {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plant-tray img,
.home img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.plant-tray p,
.home p {
  font-size: 100px;
  text-align: center;
  position: relative;
  font-weight: 900;
  color: #fff;
  opacity: 0;
  left: 200px;
}

.dot {
  background-color: white;
  width: 0;
  height: 0;
  border-radius: 50%;
  position: absolute;
}

.multi-colored-circle {
  width: 16px;
  height: 16px;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #fff !important;
  flex-direction: column;
}

.plant-card {
  background-color: #ffff !important;
  border-color: #81c784;
  border-radius: 2em !important;
  width: 100%;
  max-width: 400px;
  overflow: hidden;
  margin: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
}

.card-img-top {
  width: 100%;
  height: auto;
  border-bottom-right-radius: 4em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 16px;
  color: #0a0d0b;
  flex: 1;
}

.common-name {
  font-family: "Lora";
  font-size: 24px;
  margin-bottom: 0px;
}

.plant-title {
  font-family: "Lora";
  font-size: 16px;
  text-align: start;
  color: #0a0d0b;
  white-space: nowrap;
}

.card .btn {
  background-color: #e07a5f;
  border-color: #e07a5f;
  font-family: "Montserrat";
}

.plant-description {
  display: flex;
  justify-content: space-around;
}

.plant-description svg {
  max-height: 30px;
  max-width: 30px;
  align-items: center;
}

.col-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.col-content p {
  font-family: "Montserrat";
  text-align: center;
  font-size: 14px;
  white-space: nowrap;
}

.col-content.multiple-conditions p {
  white-space: pre-wrap;
}

.bottom p {
  font-family: "Montserrat";
}

.bottom span {
  font-size: 10px;
}

.bottom {
  padding: 10px;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  overflow: hidden;
  background-image: url("images/dirt.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  flex-shrink: 0;
  height: 80px;
}

@media (max-width: 576px) {
  .plant-card {
    max-width: 100%;
    margin: 5px 0;
  }
}

.btn img {
  height: 1em;
  width: 1em;
}

.bottom .btn {
  display: flex;
  align-self: center;
  border-radius: 100%;
}
